*.class
Gamefication/properties/achievements.properties
Gamefication/bin/com/esfinge/gamefication/mechanics/TestGameToDatabase.class
Gamification/MyDB/
Gamefication/lib/
*.class
MyDB/
*.class
/.gradle/
